<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# commonplace: http://ogp.me/ns/apps/commonplace#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <title>{{ title }}</title>
    <meta name="keywords" content="{{ pkg.keywords.join(',') }}">
    <meta name="description" content="{{ pkg.description }}">

    {# Opengraph tags #}
    <meta property="fb:app_id" content="293989217296609">
    <meta property="og:title" content=pkg.name + ' - ' + title>
    <meta property="og:description" content=pkg.description>
    <meta property="og:url" content="http://common.place">
    <meta property="og:site_name" content="Common Place">
    <meta property="fb:admins" content="">


  </head>

  {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
  <![endif]-->
