
#grid-holder{
  overflow: hidden;
}
.gridster{
  max-width: 1600px;
  position: relative;
  top:58px;
  margin: 5px;
  margin-bottom: 80px;

}
/*  .gridholder{
  height:calc(100% + 58px);
}*/
.grid{
    background-color: #EAEAEA;
}
.grid [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
.one{
  width: calc(100% / 3 );
  height: calc(100% / 3 * 2);
  top: 0;
  left:0;
}
.two{
  width: calc(100% / 3*2);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3 );
  top:0px;
}
.three{
  width: calc(100% / 3*1);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3 );
  top: calc(100% / 3 );

}
.four{
  width: calc(100% / 3);
  height: calc(100% / 3 * 1);
  left: calc(100% / 3*2 );
  top: calc(100% / 3*1 );
  background-color: green;
}
.five{
  width: calc(100%);
  height: calc(100% / 3 * 1);
  background-color: green;
  left: 0px;
  top:calc(100% / 3 *2);
}
.six{
  width: calc(100%);
  height: calc(100% / 3 * 1);
  background-color: green;
  left: 0px;
  top:calc(100% / 3 *3);
}
.photo{
  position: absolute;
  border:1px solid;
  overflow: hidden;
 
}
.photo a img{
  width: 100%;
}
.buttom{
  height:1px;
}
.menu{
  position: absolute;
  height:50px;
  box-shadow: 0px .1px .2px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 5px;
}
.menu .background{
  background-image:url('/img/matte.png');
  opacity: .20;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;

}
.menu .icon{
  margin:7px;
  height: 40px;
}
.menu a{
  padding: 0px 15px;
}
.menu-hamburger{
  position: absolute;
  right:25px;
  top:10px;
  z-index: 999;
  width: 150px;
  text-align: right;
  font-size: 1.6em;
  font-weight: bolder;
  display: none;
}
body{
  background-color: #FCFCFC;
}
body:hover .menu-hamburger{
  display: block;
}
.gridster figcaption {
  display: none;
}
.shaddow-transition{
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1)!important;
}
.shaddow{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.hand{
    cursor: grab!important;
    cursor: -webkit-grab!important;
}
.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}
#drop-holder{
  bottom: -280px; 
  width:100%;
  position: fixed; 
  z-index:999;
}
