/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

.gridster {
    padding: 5px;
    top:50px;
    padding-bottom: 20px;
}



.gridster ul, ol {
    list-style: none;
    margin:0px;

}
.gridster .gs-w a{
    margin:5px;
    display: none;
}

/*
Icons for Grid items
 */
.gridster .gs-w .close-item{
    
    font-size: 1.3em;
    right:0px;
    position: absolute;
    color:#999;
    text-decoration: none;
    
}

.gridster .gs-w .position{
    font-size: 1.1em;
    color:#999;
    text-decoration: none;
    position: absolute;
}

.gridster .gs-w .scale-grid{
    font-size: 1.1em;
    color:#999;
    text-decoration: none;
    position: absolute;
    bottom:5px;
}


.close-item i{
    margin:4px 6px;
}

.position i{
    margin: 5px;
}

.gridster .gs-w:hover .close-item{
    display: block;
}
.gridster .gs-w:hover .position{
    display: block;
}
.gridster .gs-w:hover .scale-grid{
    display: block;
}
.circle{
    border-radius: 50%;
    width: 26px;
    height: 26px;

}
.glass{
    opacity: .6;
    background-color: #eee;
}




.gridster .gs-w {
    background: #FFF;
    overflow: hidden;
    cursor: pointer;
}

.gs-resize-handle-both{
    width: 25px;
    height: 25px;
    background-size: .8em;
}

.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

.gridster .grid-img{
    position: absolute;

}