\{% extends '../layouts/album.html' %}


{% block subhead %}
<!-- Core CSS file -->
<link rel="stylesheet" href="/js/vendor/photoswipe.css"> 
<link rel="stylesheet" href="/css/vendor/jquery.gridster.css"> 
<link rel="stylesheet" href="/css/grid-edit.css"> 
<link rel="stylesheet" href="/css/app.css"> 


<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="/js/vendor/default-skin/default-skin.css"> 
<link rel="stylesheet" href="/css/vendor/dropzone.css"> 

{% endblock %}

{% block main %}
  <h1>{{ article.title }}</h1>
{% endblock %}

{% block content %}


<nav class="menu open" role="navigation" class="navbar navbar-default navbar-fixed-top" > 
    <img class="unselectable icon" src="/img/photon-small.png"></img>    
    <a class="menu-toggle"> Close </a> 
    <a class="edit-grid"> Edit </a> 
    <a class="save-grid"> Save </a> 
    <a class="clear-grid"> Clear </a> 
    <a class="drop-toggle"> Toggle DropArea </a> 
    <a data-reposition="true" class="resize-grid"> Resize DropArea </a> 



    <div class="background"></div>
</nav>

<nav class="menu-hamburger" role="navigation" class="" > 
    <a id="drop2" href="javascript:void(0)" class="dropdown-toggle right" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    <i class="fa fa-bars"></i>
    </a>
    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
      <li role="presentation"><a class="edit-grid" role="menuitem" tabindex="-1" href="javascript:void(0)">Edit</a></li>
      <li role="presentation"><a class="menu-toggle" role="menuitem" tabindex="-1" href="javascript:void(0)">Top Menu</a></li>
    </ul>
</nav>      

<div class="gridster">
    <ul class="gallery">

    </ul>
</div>

<div id="drop-holder">
  <div style="padding-bottom:100px; height:280px" id="media-drop" class="dropzone-style">
    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
  </div>
</div>


<!-- <div style="bottom: 0;
position: absolute;">

    <p>
      <input id="fileuploadimage" type="file" name="files[]" multiple="multiple" class="file-uploader"/>
    </p>
    <div id="dropzoneimage"><span class="typcn typcn-folder-open"></span>
      <div class="muted text">Drag and drop image files here</div>
    </div>
    <div id="files" class="files"></div>

    
</div> -->



<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<!-- Widget TMPL -->
<script id="figureTmpl" type="text/template">
    <figure class="dragger" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <span href="//<%= media_url %>" itemprop="contentUrl" data-size="800x600">
                <img onload="sizeInject(this)" ondragstart="return false;" class="grid-img unselectable" src="//<%= media_url %>" itemprop="thumbnail" alt="Image description" />
            </span>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>
</script>
{% endblock %}
{% block subfoot %}

<!-- Core JS file -->
<script src="/js/vendor/photoswipe.min.js"></script> 
<script src="/js/vendor/dropzone.js"></script>
<script src='/js/vendor/underscore.js'></script>

<!-- UI JS file -->
<script src="/js/vendor/photoswipe-ui-default.min.js"></script>
<script src='/js/vendor/jquery.grister.js'></script>

<!-- APP JS file -->
<script src="/js/app.js"></script>


<script type="text/javascript">




//Brut fore menu toggle
$(".menu-toggle").click(function() {
    var $menu = $(".menu")
    if ($menu.hasClass('open')){
        $menu.css("z-index","-1")
        $(".gridster").animate({
            top: "0px",
        }, 300, function(){
            $menu.removeClass('open')

        });
        $(".menu").hide("fast")
        
    } else {
        $(".gridster").animate({
            top: "50px",
            
        }, 300, function(){
            $menu.css("z-index","")
        }); 
        $menu.addClass('open')
        $(".menu").show("fast")
    }
});

//Brut fore menu toggle
$(".drop-toggle").click(function() {
    var $menu = $("#drop-holder")
    if ($menu.hasClass('open')){
        $menu.animate({
            bottom: "-280px",
        }, 300, function(){
            $menu.removeClass('open')
        });
        
    } else {
        $menu.animate({
            bottom: "0px",
        }, 300, function(){
            
        }); 
        $menu.addClass('open') 
    }
});

//These DOM Manipulation Functions can be abstracted and placed into a Seperate JS file.
$(function(){

        $(".edit-grid").click(function() {

            var editing = toggleEditing('.edit-grid');            
            editGrid(editing);
        });



        

        $(".edit-grid").data('editing',true);
        $(".save-grid").click(function(){
          save(url+"/widgets", _csrf);
        });
        $(".clear-grid").click(function(){
          $.ajax({
            url: url+"/widgets/all",
            context: document.body,
            dataType: "json",
            type: "DELETE",
            data: {_csrf:_csrf}
          }).done(function(req) {
            init();
          });
        });


        //This can be highly abstracted into the TMPL
        window.toggleEditing = function(el, setter){
            if (setter!==undefined){
                var editing = setter;
            }else{
                var editing = $(el).data('editing');
            }
            $(el).data('editing', !editing);
            var html = editing?'Stop Editing':'Edit'
            $('.gridster li').addClass('shaddow-transition')
            if (editing){
                $('.gridster li').addClass('shaddow').addClass('hand');
                $('.gridster li').prepend('<a href="javascript:void(0)" class="close-item"><i class="fa fa-times"></i></a>')
                $('.gridster li').prepend('<a class="position" href="javascript:void(0)"><i class="fa fa-arrows "></i></a>')
            }else{
                $('.gridster li').removeClass('shaddow').removeClass('hand'); 
                $('.gridster li .close-item').remove();
                $('.gridster li .position').remove();

            }
            setTimeout(function() {
                $('.gridster li').removeClass('shaddow-transition')
            }, 1000);
            
            $(el).html(html);
            return editing;
        }

        var url = "/{{album.id}}"
        var _csrf = "{{csrf_token}}"
        window.url=url;
        window._csrf=_csrf

        window.init=function(){
          $.ajax({
            url: url+"/widgets",
            context: document.body,
            dataType: "json",
            type: "GET"
          }).done(function(req) {
            initGrid(req)
            setTimeout(function(){
              initPhotoSwipeFromDOM('.gallery');


              $(".resize-grid").click(function() {
                  //$(".grid-img").removeClass("unselectable");
                  var editing = toggleEditing('.edit-grid', true);   
                  editGrid(false);

                  var reposition = $(this).data('reposition');
                  $(this).data('reposition', !reposition);
                  debugger
                  if (reposition)
                    $('.gridster li').on('mousedown', mouseDownDrag);
                  else
                    $('.gridster li').off('mousedown', mouseDownDrag);

              });
              //$(".gridster li").data('reposition', false);
              

              var mouseDownDrag = function(event){
                //console.log(event,1)
                $(window).on('mousemove',$.proxy( drag, this ));
              }
              $(window).on('mouseup', function(event){
                //console.log(event,2)
                $(window).off('mousemove',drag);
              });
              var drag = function(){
                var $img = $("img", this);

                console.log(1)
                var newX = $img.position().left+ event.movementX;
                var newY = $img.position().top+ event.movementY;
                

                $img.css({
                  "left":newX,
                  "top":newY
                })
              };

            },500);//I know bad jst will testing is over.
            
          });
          
        };

        var myDropzone = new Dropzone("#media-drop", { 
          url: "/{{album.id}}/upload",
          sending: function(file, xhr, formData){
                //formData._csrf=_csrf;
                formData.append("_csrf",_csrf);
          },
          success:init
        });
        init();

        //inject the data size for PhotoSwipeFrom. Replaces the data-size="800x600" default
        window.sizeInject=function(el){
          var size=$(el).width()+'x'+$(el).height()
          $(el).parent().attr('data-size',size);
        }



      // action="/{{album.id}}/upload"
      // id="media-drop"
      // accept="accepted">
      // <input type="hidden" name="_csrf" value="{{ csrf_token }}"
        // myDropzone.on("complete", function(file) {
        //   myDropzone.removeFile(file);
        // });
        

        //$('#media-drop').addClass('dropzone')
        

        // var initSwipe = function(gridster, serialization){
        //     if (gridster.$widgets.length===serialization.length){
        //         initPhotoSwipeFromDOM('.gallery');
        //     } else{
        //         setTimeout(function(){
        //             initSwipe(gridster, serialization);
        //         },500)
        //     }
        // }



});

</script>
{% endblock %}

