{% extends '../layouts/album.html' %}


{% block subhead %}
<!-- Core CSS file -->
<link rel="stylesheet" href="/js/vendor/photoswipe.css"> 
<link rel="stylesheet" href="/css/vendor/jquery.gridster.css"> 
<link rel="stylesheet" href="/css/grid-edit.css"> 

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="/js/vendor/default-skin/default-skin.css"> 
{% endblock %}

{% block main %}
  <h1>{{ article.title }}</h1>
{% endblock %}

{% block content %}
  <style>
  .grid{
    height:calc(100% + 58px );
    max-height: 1200px;
    max-width: 1600px;

    position: relative;
    top:58px;
  }
/*  .gridholder{
    height:calc(100% + 58px);
  }*/
  .grid{
      background-color: #EAEAEA;
  }
  .grid [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
  }
  .one{
    width: calc(100% / 3 );
    height: calc(100% / 3 * 2);
    top: 0;
    left:0;
  }
  .two{
    width: calc(100% / 3*2);
    height: calc(100% / 3 * 1);
    left: calc(100% / 3 );
    top:0px;
  }
  .three{
    width: calc(100% / 3*1);
    height: calc(100% / 3 * 1);
    left: calc(100% / 3 );
    top: calc(100% / 3 );

  }
  .four{
    width: calc(100% / 3);
    height: calc(100% / 3 * 1);
    left: calc(100% / 3*2 );
    top: calc(100% / 3*1 );
    background-color: green;
  }
  .five{
    width: calc(100%);
    height: calc(100% / 3 * 1);
    background-color: green;
    left: 0px;
    top:calc(100% / 3 *2);
  }
  .six{
    width: calc(100%);
    height: calc(100% / 3 * 1);
    background-color: green;
    left: 0px;
    top:calc(100% / 3 *3);
  }
  .photo{
    position: absolute;
    border:1px solid;
    overflow: hidden;
   
  }
  .photo a img{
    width: 100%;
  }
  .buttom{
    height:1px;
  }
  .menu{
    position: absolute;
    height:50px;
    width: 100%;
    box-shadow: 0px .1px .2px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .menu .background{
    background-image:url('/img/matte.png');
    opacity: .20;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;

  }
  .menu .icon{
    margin:7px;
  }
  .menu-hamburger{
    position: absolute;
    right:25px;
    top:10px;
    z-index: 999;
    width: 150px;
    text-align: right;
    font-size: 1.6em;
    font-weight: bolder;
    display: none;
  }
  body:hover .menu-hamburger{
    display: block;
  }
  .grid figcaption {
    display: none;
  }
  

  </style>


  <nav class="menu" role="navigation" class="navbar navbar-default navbar-fixed-top" > 
    <img class="unselectable icon" src="/img/photon-small.png"></img>    
    <a id="button"> Close </a> 
    <a class="edit-grid"> Edit </a> 
    <div class="background"></div>

  </nav>

<nav class="menu-hamburger" role="navigation" class="" > 

<a id="drop2" href="#" class="dropdown-toggle right" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
<i class="fa fa-bars"></i>
</a>
<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
  <li role="presentation"><a class="edit-grid" role="menuitem" tabindex="-1" href="#">Edit</a></li>

</ul>
    </nav>      
  <!--     {% for article in "1234567890" %}
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">{{article}}</li>
      {% endfor %} -->
<!--         <div class="one photo">1</div>
        <div class="two photo">2</div>

 -->

<!--     <div class="three photo">3</div>
            <div class="four photo">4</div>
            <div class="five photo">5</div> -->
    
<div class="grid" style="display:none;">

    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

        <figure class="one photo"itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="contentUrl" data-size="600x600">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>

        <figure class="two photo" itemprop="associatedMedia two photo" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" itemprop="contentUrl" data-size="1600x1600">
                <img src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>

        <figure class="three photo"itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="contentUrl" data-size="600x600">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>  

        <figure class="four photo"itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="contentUrl" data-size="600x600">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>  
        <figure class="five photo"itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="contentUrl" data-size="600x600">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>
        <figure class="six photo"itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="contentUrl" data-size="600x600">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Small_rhombicosidodecahedron.png/600px-Small_rhombicosidodecahedron.png" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
        </figure>      

    </div>
</div>

<div class="gridster">
    <ul>

    </ul>
</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
  
{% endblock %}

{% block subfoot %}

<!-- Core JS file -->
<script src="/js/vendor/photoswipe.min.js"></script> 

<!-- UI JS file -->
<script src="/js/vendor/photoswipe-ui-default.min.js"></script>
<script src='/js/vendor/jquery.grister.js'></script>
<script src='/js/vendor/underscore.js'></script>

<script type="text/javascript">

$("#button").click(function() {
    $(".menu").css("z-index","-1")
    $(".gridster").animate({
        top: "0px",
    }, 300);
});


    $(function(){
      var gridster;

      // same object than generated with gridster.serialize() method
      var serialization = [
        {
            col: 1,
            row: 1,
            size_x: 1,
            size_y: 1,

        },
        {
            col: 2,
            row: 1,
            size_x: 1,
            size_y: 1,

        },
        {
            col: 3,
            row: 1,
            size_x: 2,
            size_y: 1,

        },
        {
            col: 5,
            row: 1,
            size_x: 1,
            size_y: 1,

        },
        {
            col: 6,
            row: 1,
            size_x: 1,
            size_y: 1,

        },
        {
            col: 3,
            row: 3,
            size_x: 1,
            size_y: 1
        }
        
        
      ];


      // sort serialization



        var addAllWidget = function(gridster, serialization){
            $.each(serialization, function() {
                gridster.add_widget('<li class="new"></li>', this.size_x, this.size_y, this.col, this.row);
            });
        };
        var calculateWidth = function(el, margins){
            var width = $(el).width();
            var base = (width-(12*margins[0]))/6;
            //base-=1;//removing padding
            return base
        };
        var makeGridster = function(margins, baseSize, edit){
             
            var grid = $(".gridster ul").gridster({
              widget_base_dimensions: [baseSize, baseSize],
              widget_margins: margins,
              resize:{
                enabled:edit?true:false
              }
            }).data('gridster')
            if (!edit){grid.disable(),$('.gs-resize-handle').remove();}
            return grid
        };
        var serialization = Gridster.sort_by_row_and_col_asc(serialization);
        var margins = [1,1]
        var baseSize = calculateWidth(".gridster", margins)
        var gridster = makeGridster(margins, baseSize);


        window.gridster=gridster;
        $(window).resize(_.debounce(function(){

            toggleEdit(".edit-grid",false);
            gridster.destroy();
            // gridster.remove_all_widgets();
             var newbaseSize = calculateWidth(".gridster",margins)
             makeGridster(margins, newbaseSize)
            // gridster.options.widget_base_dimensions=[newbaseSize,newbaseSize]
            // addAllWidget(gridster ,serialization);
            // gridster.$el.width( gridster.$wrapper.width()-20 );
        }, 500));
        $(".edit-grid").click(function() {

            var editing = toggleEdit('.edit-grid');            
            gridster.destroy();
            var newbaseSize = calculateWidth(".gridster",margins)
            gridster = makeGridster(margins, newbaseSize, editing);
        });
        $(".edit-grid").data('editing',true);

        var toggleEdit = function(el, setter){
            if (setter!==undefined){
                var editing = setter;
            }else{
                var editing = $(el).data('editing');
                $(el).data('editing', !editing);
            }
            
            var html = editing?'Stop Editing':'Edit'
            $('.gridster li').addClass('shaddow-transition')
            if (editing){
                $('.gridster li').addClass('shaddow').addClass('hand');
                $('.gridster li').prepend('<a href="javascript:void(0)" class="close-item"><i class="fa fa-times"></i></a>')
                $('.gridster li').prepend('<a class="position" href="javascript:void(0)"><i class="fa fa-arrows "></i></a>')

            }else{
                $('.gridster li').removeClass('shaddow').removeClass('hand'); 
                $('.gridster li .close-item').remove();
                $('.gridster li .position').remove();


            }
            setTimeout(function() {
                $('.gridster li').removeClass('shaddow-transition')
            }, 1000);
            
            $(el).html(html);
            return editing;
        }


        addAllWidget(gridster ,serialization);

        //$('.js-seralize').on('click', function() {
        //});

      });

var initPhotoSwipeFromDOM = function(gallerySelector) {

    // parse slide data (url, title, size ...) from DOM elements 
    // (children of gallerySelector)
    var parseThumbnailElements = function(el) {
        var thumbElements = el.childNodes,
            numNodes = thumbElements.length,
            items = [],
            figureEl,
            linkEl,
            size,
            item;

        for(var i = 0; i < numNodes; i++) {

            figureEl = thumbElements[i]; // <figure> element

            // include only element nodes 
            if(figureEl.nodeType !== 1) {
                continue;
            }

            linkEl = figureEl.children[0]; // <a> element

            size = linkEl.getAttribute('data-size').split('x');

            // create slide object
            item = {
                src: linkEl.getAttribute('href'),
                w: parseInt(size[0], 10),
                h: parseInt(size[1], 10)
            };



            if(figureEl.children.length > 1) {
                // <figcaption> content
                item.title = figureEl.children[1].innerHTML; 
            }

            if(linkEl.children.length > 0) {
                // <img> thumbnail element, retrieving thumbnail url
                item.msrc = linkEl.children[0].getAttribute('src');
            } 

            item.el = figureEl; // save link to element for getThumbBoundsFn
            items.push(item);
        }

        return items;
    };

    // find nearest parent element
    var closest = function closest(el, fn) {
        return el && ( fn(el) ? el : closest(el.parentNode, fn) );
    };

    // triggers when user clicks on thumbnail
    var onThumbnailsClick = function(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function(el) {
            return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
        });

        if(!clickedListItem) {
            return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode,
            childNodes = clickedListItem.parentNode.childNodes,
            numChildNodes = childNodes.length,
            nodeIndex = 0,
            index;

        for (var i = 0; i < numChildNodes; i++) {
            if(childNodes[i].nodeType !== 1) { 
                continue; 
            }

            if(childNodes[i] === clickedListItem) {
                index = nodeIndex;
                break;
            }
            nodeIndex++;
        }



        if(index >= 0) {
            // open PhotoSwipe if valid index found
            openPhotoSwipe( index, clickedGallery );
        }
        return false;
    };

    // parse picture index and gallery index from URL (#&pid=1&gid=2)
    var photoswipeParseHash = function() {
        var hash = window.location.hash.substring(1),
        params = {};

        if(hash.length < 5) {
            return params;
        }

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
            if(!vars[i]) {
                continue;
            }
            var pair = vars[i].split('=');  
            if(pair.length < 2) {
                continue;
            }           
            params[pair[0]] = pair[1];
        }

        if(params.gid) {
            params.gid = parseInt(params.gid, 10);
        }

        if(!params.hasOwnProperty('pid')) {
            return params;
        }
        params.pid = parseInt(params.pid, 10);
        return params;
    };

    var openPhotoSwipe = function(index, galleryElement, disableAnimation) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
            gallery,
            options,
            items;

        items = parseThumbnailElements(galleryElement);

        // define options (if needed)
        options = {
            index: index,

            // define gallery index (for URL)
            galleryUID: galleryElement.getAttribute('data-pswp-uid'),

            getThumbBoundsFn: function(index) {
                // See Options -> getThumbBoundsFn section of documentation for more info
                var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                    pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                    rect = thumbnail.getBoundingClientRect(); 

                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
            }

        };

        if(disableAnimation) {
            options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    // loop through all gallery elements and bind events
    var galleryElements = document.querySelectorAll( gallerySelector );

    for(var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i+1);
        galleryElements[i].onclick = onThumbnailsClick;
    }

    // Parse URL and open gallery if it contains #&pid=3&gid=1
    var hashData = photoswipeParseHash();
    if(hashData.pid > 0 && hashData.gid > 0) {
        openPhotoSwipe( hashData.pid - 1 ,  galleryElements[ hashData.gid - 1 ], true );
    }
};

// execute above function
initPhotoSwipeFromDOM('.my-gallery');


</script>
{% endblock %}

